<header>{{>header}}</header>

<a href='/signup'>
  <p>Sign up</p>
</a>

<form method='post'>
  <p>username:<textarea rows="1" cols="50" placeholder="Enter your username"></textarea></p>
  <p>password:<textarea rows="1" cols="50" placeholder="Enter your password"></textarea></p>
  <button type='submit'>Log In</button>
</form>

<footer>{{>footer}}</footer>