<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>knex-joins-stories</title>
</head>
<body>
    <header>{{>header}}</header>
    <a href='/signUp'>
    <form>
    <p>username:<textarea rows="1" cols="50" placeholder="Enter your username"></textarea></p>
    <p>password:<textarea rows="1" cols="50" placeholder="Enter your password"></textarea></p>
    <button></button>
    </form>

    <footer>{{>footer}}</footer>
</body>