<header>{{>header}}</header>

<form method='post'>
  <p>Username: <textarea name='username' rows="1" cols="50" placeholder="Enter your username"></textarea></p>
  <p>Password: <textarea name='password' rows="1" cols="50" placeholder="Enter your password"></textarea></p>
  <p>Re-enter password: <textarea name='reenter' rows="1" cols="50" placeholder="Re-enter your password"></textarea>
  </p>
  <p>First name: <textarea name='firstname' rows="1" cols="50" placeholder="Enter your first name"></textarea></p>
  <p>Surname: <textarea name='surname' rows="1" cols="50" placeholder="Enter your surname"></textarea></p>
  <p>Email: <textarea name='email' rows="1" cols="50" placeholder="Enter your email"></textarea></p>
  <p>
    Prefered role: <select name='prefrole'>
      <option value='tank'>Tank</option>
      <option value='support'>Support</option>
      <option value='dps'>DPS</option>
    </select>
  </p>
  <p>
    Top Two Heros: <select name='pref1'>
      <option value=''>pick your favourite heroes</option>
      <option value='Ana'>Ana</option>
      <option value='Ashe'>Ashe</option>
      <option value='Baptiste'>Baptiste</option>
      <option value='Bastion'>Bastion</option>
      <option value='Brigette'>Brigette</option>
      <option value='D.Va'>D.Va</option>
      <option value='Doomfist'>Doomfist</option>
      <option value='Genji'>Genji</option>
      <option value='Hanzo'>Hanzo</option>
      <option value='Junkrat'>Junkrat</option>
      <option value='Lúcio'>Lúcio</option>
      <option value='McCree'>McCree</option>
      <option value='Mei'>Mei</option>
      <option value='Mercy'>Mercy</option>
      <option value='Moira'>Moira</option>
      <option value='Orisa'>Orisa</option>
      <option value='Pharah'>Pharah</option>
      <option value='Reaper'>Reaper</option>
      <option value='Reinhardt'>Reinhardt</option>
      <option value='Roadhog'>Roadhog</option>
      <option value='Sigma'>Sigma</option>
      <option value='Soldier:76'>Soldier:76</option>
      <option value='Sombra'>Sombra</option>
      <option value='Symmetra'>Symmetra</option>
      <option value='Torbjörn'>Torbjörn</option>
      <option value='Tracer'>Tracer</option>
      <option value='Widowmaker'>Widowmaker</option>
      <option value='Winston'>Winston</option>
      <option value='Wrecking Ball'>Wrecking Ball</option>
      <option value='Zarya'>Zarya</option>
      <option value='Zenyatta'>Zenyatta</option>
    </select>
    <select name='pref2'>
      <option value=''>pick your favourite heroes</option>
      <option value='Ana'>Ana</option>
      <option value='Ashe'>Ashe</option>
      <option value='Baptiste'>Baptiste</option>
      <option value='Bastion'>Bastion</option>
      <option value='Brigette'>Brigette</option>
      <option value='D.Va'>D.Va</option>
      <option value='Doomfist'>Doomfist</option>
      <option value='Genji'>Genji</option>
      <option value='Hanzo'>Hanzo</option>
      <option value='Junkrat'>Junkrat</option>
      <option value='Lúcio'>Lúcio</option>
      <option value='McCree'>McCree</option>
      <option value='Mei'>Mei</option>
      <option value='Mercy'>Mercy</option>
      <option value='Moira'>Moira</option>
      <option value='Orisa'>Orisa</option>
      <option value='Pharah'>Pharah</option>
      <option value='Reaper'>Reaper</option>
      <option value='Reinhardt'>Reinhardt</option>
      <option value='Roadhog'>Roadhog</option>
      <option value='Sigma'>Sigma</option>
      <option value='Soldier:76'>Soldier:76</option>
      <option value='Sombra'>Sombra</option>
      <option value='Symmetra'>Symmetra</option>
      <option value='Torbjörn'>Torbjörn</option>
      <option value='Tracer'>Tracer</option>
      <option value='Widowmaker'>Widowmaker</option>
      <option value='Winston'>Winston</option>
      <option value='Wrecking Ball'>Wrecking Ball</option>
      <option value='Zarya'>Zarya</option>
      <option value='Zenyatta'>Zenyatta</option>
    </select>
  </p>
  <button type='submit'>sign up</button>
</form>

<footer>{{>footer}}</footer>